---
title: My Hobbies
layout: base.njk
permalink: /hobbies.html
---

<div class="container mt-5">
  <h2 class="text-center mb-4">My Hobbies</h2>
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow">
        <img src="/resources/img/backpack2.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Traveling</h5>
          <p class="card-text">
            I love to travel and meet new people! I've been many places and I'm planning a trip to Vietnam soon!
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow">
        <img src="/resources/img/blues.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Sports</h5>
          <p class="card-text">
            Sports like football, hockey, and soccer are all favorites of mine! I love the Colorado teams.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow">
        <img src="/resources/img/telluride.JPG" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Snowboarding</h5>
          <p class="card-text">
            Snowboarding and mountaineering are ways I enjoy getting in touch with nature while staying physical.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>