---
title: Home
layout: base.njk
---

<div class="container mt-5">
  <div class="row align-items-center">

    <div class="col-md-4 text-center">
      <img src="{{ '/resources/img/IMG_1299.png' | url }}" class="img-fluid rounded" alt="Me">
    </div>

    <div class="col-md-8">
      <h2>Hello, I'm Benjamin Torio</h2>
      <p>
        I'm an undergraduate student at University of Colorado Boulder interested in technology, programming, and building
        creative projects. I enjoy learning new skills and working on challenging problems. Take a look around!
      </p>
      <a href="{{ '/resume.html' | url }}" class="btn btn-primary">View Resume</a>
    </div>

  </div>
</div>