---
title: Now
layout: base.njk
extraCss: /now.css
permalink: /now.html
---

<div class="container mt-5" style="max-width: 760px;">

  <h2 class="mb-1">Now</h2>
  <p class="text-secondary mb-5">A running log of what I'm working on and thinking about.</p>

  <ul class="timeline">

    <!-- Add new entries at the TOP -->
     <li class="timeline-entry">
      <time class="timeline-date">May 2, 2026</time>
      <h3 class="timeline-title">New Passion Project Development: dreamboardsocial</h3>
      <p class="timeline-body">
        Finals week is over, and now I have plenty of time to explore ideas i've had over the last year. I'm starting with dreamboardsocial, a social dream planner where users are able to decorate dream boards, and repin goals/dreams from other users.
      </p>
    </li>

     <li class="timeline-entry">
      <time class="timeline-date">April 27, 2026</time>
      <h3 class="timeline-title">Amenity Tracker Deadline</h3>
      <p class="timeline-body">
        Amenity Tracker is Live! This was a simple start to finish webapp to practice development, testing, and deployment. View v0.1 of our live product here: <a href="https://group-project-l9op.onrender.com/">Amenity Tracker</a>.
        You can view our documentation and processes on the <a href="https://github.com/btorio15/group_project">public repo</a>
      </p>
    </li>

     <li class="timeline-entry">
      <time class="timeline-date">March 28, 2026</time>
      <h3 class="timeline-title">Begin work on "Amenity Tracker"</h3>
      <p class="timeline-body">
        I and a few others from my Software Dev class are begining work on a project to track amenities for travelers worldwide. 
        Hopefully through this project, we'll progress our understanding of teamwork and using git, as well as the full process of software development, from initial design and ideas to a finished product.
      </p>
    </li>

    <li class="timeline-entry">
      <time class="timeline-date">March 23, 2026</time>
      <h3 class="timeline-title">Adding dark mode &amp; a "Now" page to this site</h3>
      <p class="timeline-body">
        Starting to get into the habit of working on passion projects. Hopefully staying creative and keeping up
        my heatmap. This is the start of a log of my activity!
      </p>
    </li>
  </ul>
</div>