---
title: Now
layout: base.njk
extraCss: /now.css
permalink: /now.html
---

<div class="container mt-5" style="max-width: 760px;">

  <h2 class="mb-1">Now</h2>
  <p class="text-secondary mb-5">A running log of what I'm working on and thinking about.</p>

  <ul class="timeline">

    <!-- Add new entries at the TOP -->
     <li class="timeline-entry">
      <time class="timeline-date">March 28, 2026</time>
      <h3 class="timeline-title">Begin work on "Amenity Tracker"</h3>
      <p class="timeline-body">
        I and a few others from my Software Dev class are begining work on a project to track amenities for travelers worldwide. 
        Hopefully through this project, we'll progress our understanding of teamwork and using git, as well as the full process of software development, from initial design and ideas to a finished product.
      </p>
    </li>

    <li class="timeline-entry">
      <time class="timeline-date">March 23, 2026</time>
      <h3 class="timeline-title">Adding dark mode &amp; a "Now" page to this site</h3>
      <p class="timeline-body">
        Starting to get into the habit of working on passion projects. Hopefully staying creative and keeping up
        my heatmap. This is the start of a log of my activity!
      </p>
    </li>
  </ul>
</div>